asyncpg
astroid
attrs
certifi
chardet
Click
databases[postgresql]
fastapi
h11
httptools
idna
isort
lazy-object-proxy
mccabe
more-itertools
packaging
prometheus-fastapi-instrumentator
prometheus-client
pluggy
py
pydantic
pylint
pyparsing 
six
SQLAlchemy
starlette
urllib3
uvicorn
uvloop
wcwidth
websockets
wrapt

#dev 
pytest
requests

